@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-line {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2px;
  width: 30px;
  background-color: black;
}

.hamburger-active > span:nth-child(1) {
  transform: rotate(45deg)
}
.hamburger-active > span:nth-child(2) {
  transform: scale(0)
}
.hamburger-active > span:nth-child(3) {
  transform: rotate(-45deg)
}